$break-xs: 320px;
$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;

$transparent: rgba(255, 255, 255, 0);
$font-default: #da255c;
$font-primary: #000000;
$font-secondary: #ffffff;
$font-primary: #000000;


$bg-default: #da255c;