@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<input type="checkbox" id="navcheck" role="button" title="menu">
<label for="navcheck" aria-hidden="true" title="menu" id="hamburger">
    <span class="burger">
        <span class="bar">
            <span class="visuallyhidden">Menu</span>
        </span>
    </span>
</label>
<nav id="menu">
    <a href="#">Lorem.</a>
    <a href="#">Nesciunt!</a>
    <a href="#">Magnam.</a>
    <a href="#">Ipsum.</a>
    <a href="#">Voluptatem.</a>
    <a href="#">Quibusdam.</a>
</nav>
