@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Error404>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}

<h1>@Model.GetPropertyValue("heading")</h1>
@Model.GetPropertyValue("bodytext")