@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.TextPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}
@CurrentPage.GetGridHtml(Html, "grid", "bootstrap3-Fluid")

<h1>test</h1>
@Html.Raw(umbraco.library.RenderMacroContent(Model.Content.GetPropertyValue<string>("grid"), Model.Content.Id)) 